
name: Run tests
on:
  pull_request:
    branches:
      - 'main'

jobs:
  tests_with_cover:
    name: Run tests
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
    - name: Test
      run: go test -v -cover ./collector/


